.featured-bg {
    background-image: url('/blog/img/paper.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.font-luxurious {
    font-family: 'Luxurious Roman', cursive;
}

.navbar-nav {
    font-size: 1.3rem;
}

.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.read-more-link {
    text-decoration: none;
    color: #26734d;
}

.read-more-link:hover {
    color: #00b359;
    text-decoration: underline;
}