body {
    color: #0d0d0d
}

.font-luxurious {
    font-family: 'Luxurious Roman', cursive;
}

.navbar-nav {
    font-size: 1.3rem;
}

.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.read-more-link {
    text-decoration: none;
    color: #26734d;
}

.read-more-link:hover {
    color: #00b359;
    text-decoration: underline;
}

.article-title-link {
    color: #484848;
    text-decoration: none;
}

.article-title-link:hover {
    color: #006633;
    text-decoration: underline;
}

.justify-text{
    text-align: justify;
    text-justify: inter-word;
}

.articlecontainer{
    font-family: 'Verdana';
    font-size: 18px;
}

.blog-post-meta{
    font-size: 1.3rem;
}

h2{
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Luxurious Roman';

}

.text-spacing-1{
    letter-spacing: qpx;
}

.text-spacing-2{
    letter-spacing: 2px;
}

.font-size-medium {
    font-size: 1.3rem;
}